$main_color: #06a49c;

//general

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #2a303b;
}

.container {
  @media screen and(min-width:1200px) {
    max-width: 1000px;
  }
}

figure {
  margin: 0;
}

a {
  text-decoration: none;
  color: #2a303b;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

img {
  width: 100%;
}

.section_padding {
  padding: 40px 0;

  @media screen and (max-width: 767px) {
    padding: 20px 0;
  }
}

.btn:focus,
input:focus {
  box-shadow: none;
}

.h-100 {
  @media screen and (max-width: 767px) {
    height: auto !important;
  }
}

.social_media {
  li {
    display: inline-block;
    margin: 0 5px;

    a {
      width: 40px;
      height: 40px;
      line-height: 40px;
      display: block;
      border: 1px solid $main_color;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      transition: all 0.3s;
      background-color: $main_color;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      color: white;
      text-align: center;

      &:hover {
        transform: translateY(-5px);
        -webkit-transform: translateY(-5px);
        -moz-transform: translateY(-5px);
        -ms-transform: translateY(-5px);
        -o-transform: translateY(-5px);
      }
    }
  }
}

// end general

header {
  background-color: white;
  transition: 0.3s all;
  -webkit-transition: 0.3s all;
  -moz-transition: 0.3s all;
  -ms-transition: 0.3s all;
  -o-transition: 0.3s all;
  box-shadow: 0 0 20px -12px #7f7f7fba;

  .top {
    padding-bottom: 10px;
    border-bottom: 2px solid#d1d3d34a;

    @media screen and(min-width : 992px) {
      border-bottom: 2px solid $main_color;
    }

    .wrapper {
      display: flex;
      align-items: center;
      max-width: 1150px;
      width: 100%;
      margin: 0 auto;
      padding: 20px 15px 0;
      position: relative;

      .left {
        flex-grow: 1;
        display: flex;
        align-items: center;

        .btn_toggler {
          position: relative;
          width: 25px;
          padding: 0px;
          border: 0;
          background: none;

          @media screen and (min-width: 992px) {
            display: none;
          }

          &:focus {
            box-shadow: none;
          }

          span {
            height: 3px;
            display: block;
            width: 100%;
            background-color: black;
            transition: 0.3s all;
            -webkit-transition: 0.3s all;
            -moz-transition: 0.3s all;
            -ms-transition: 0.3s all;
            -o-transition: 0.3s all;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;

            &:nth-of-type(2) {
              margin: 5px 0;
            }
          }

          &.opened {
            span {
              &:nth-of-type(1) {
                transform: rotate(-45deg) translate(-5px, 6px);
                -webkit-transform: rotate(-45deg) translate(-5px, 6px);
                -moz-transform: rotate(-45deg) translate(-5px, 6px);
                -ms-transform: rotate(-45deg) translate(-5px, 6px);
                -o-transform: rotate(-45deg) translate(-5px, 6px);
              }

              &:nth-of-type(2) {
                transform: translateX(-100%);
                -webkit-transform: translateX(-100%);
                -moz-transform: translateX(-100%);
                -ms-transform: translateX(-100%);
                -o-transform: translateX(-100%);
                opacity: 0;
              }

              &:nth-of-type(3) {
                transform: rotate(45deg) translate(-5px, -7px);
                -webkit-transform: rotate(45deg) translate(-5px, -7px);
                -moz-transform: rotate(45deg) translate(-5px, -7px);
                -ms-transform: rotate(45deg) translate(-5px, -7px);
                -o-transform: rotate(45deg) translate(-5px, -7px);
              }
            }
          }
        }

        .logo_brand {
          display: block;
          padding-left: 10px;
          flex-grow: 1;
          text-align: center;

          img {
            width: 200px;

            @media screen and(max-width : 991px) {
              width: 160px;
            }

            @media screen and(max-width : 667px) {
              width: 130px;
            }
          }
        }
      }

      .right {
        display: flex;
        align-items: center;

        @media screen and(min-width : 768px) {
          position: absolute;
          right: 15px;
        }

        .social-media li {
          display: inline-block;
          margin: 0 5px;

          a {
            color: #2a303b;
          }
        }

        .sabonner {
          background-color: $main_color;
          color: white;
          margin: 0 10px;
        }
      }
    }
  }

  .navigation {
    padding: 0;
    max-width: 1150px;
    width: 100%;
    margin: 0 auto;
    z-index: 9999;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;

    @media screen and(max-width: 991.2px) {
      position: absolute;
      transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      -moz-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
      -o-transform: translateX(-100%);

      &.translate {
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
        -moz-transform: translateX(0%);
        -ms-transform: translateX(0%);
        -o-transform: translateX(0%);
      }
    }

    .links_header {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      @media screen and(min-width: 992px) {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
      }
    }

    .nav-item {
      @media screen and(max-width : 991.2px) {
        border-bottom: 1px solid rgba(216, 214, 214, 0.644);
        background-color: #f5f6f8;
      }

      .nav-link {
        color: #2a303b;
        text-transform: uppercase;
        padding: 15px;
        text-align: center;
      }
    }
  }
}

// main

main {
  &.categ_page {
    .top_article {
      figure {
        height: 100%;
        img {
          height: 100%;
          object-fit: cover;
          object-position: top;
        }
      }
    }
  }

  &.contact_page {
    button[type="submit"] {
      padding: 8px 20px;
      background-color: $main_color;
      color: white;
      border: 0;
    }

    h5 {
      position: relative;
      padding-bottom: 10px;
    }

    h5::before {
      content: "";
      position: absolute;
      bottom: 0;
      height: 3px;
      background-color: $main_color;
      width: 50px;
    }
  }

  &.article_page {
    .section_title {
      .styled {
        background-color: $main_color;
        color: white;
        padding: 6px 25px;
        border-radius: 30px;
        font-size: 20px;
        line-height: initial;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        -ms-border-radius: 30px;
        -o-border-radius: 30px;
        &.small {
          font-size: 14px;
        }
      }
    }

    .full_article {
      article {
        .art_details {
          .art_title {
            margin: 10px 0;
            line-height: 30px;
            height: auto;
            font-size: 20px;
          }
          .art_desc {
            height: auto;
          }
        }
      }
    }
  }

  .random_sec .wrapper {
    .slider_wrapper {
      margin-bottom: 0;
      height: 100%;

      .slick-list,
      .slick-track {
        height: 100%;
      }
    }

    article {
      &:not(.main_article) {
        a {
          display: flex;
          flex-direction: column;

          .art_details {
            background-color: white;
            padding: 10px;
          }
        }
      }
    }
  }

  .football_sec,
  .rugby_sec,
  .basket_sec {
    article {
      figure {
        position: relative;
        height: 100%;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: top;
          position: initial;

          @media screen and (min-width: 768px) {
            position: absolute;
          }
        }
      }
    }
  }

  .basket_sec {
    article {
      .art_details {
        .art_title {
          height: auto;
        }
      }
    }
  }
  .tennis_sec {
    .top_article {
      figure {
        height: 100%;
        img {
          height: 100%;
          object-fit: cover;
          object-position: top;
        }
      }
    }
  }

  .cyclisme_sec {
    article {
      .art_details {
        .art_categorie {
          background-color: yellow;
          color: black;
          padding: 3px 5px;
          display: inline-block;
          border-radius: 2px;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          -ms-border-radius: 2px;
          -o-border-radius: 2px;
          margin: 0 0 8px;
        }
      }
    }
  }

  .videos_sec {
    .block_img {
      position: relative;

      .ico_play {
        font-size: 60px;
        color: white;
        opacity: 0.6;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transition: 0.3s all;
        -webkit-transition: 0.3s all;
        -moz-transition: 0.3s all;
        -ms-transition: 0.3s all;
        -o-transition: 0.3s all;
        &.small {
          font-size: 20px;
        }
        &:hover {
          opacity: 1;
        }
      }
    }

    .right_block {
      article {
        .block_img {
          height: 100%;
          figure {
            height: 100%;
            img {
              height: 100%;
              object-fit: cover;
              object-position: top;
            }
          }
        }
      }
    }
  }

  .people_divers_sec {
    h2 {
      font-size: 25px;
      font-weight: 500 !important;
    }
    article.big {
      figure {
        position: relative;
        &::before {
          content: "";
          top: 0;
          left: 0;
          position: absolute;
          height: 100%;
          width: 100%;
          z-index: 1;
          background-image: linear-gradient(
            0deg,
            rgb(0 0 0 / 48%),
            rgba(241, 241, 241, 0)
          );
        }
      }
      .art_details {
        position: absolute;
        padding: 10px;
        bottom: 0;
        z-index: 1;

        .art_title {
          color: white;
        }
      }
    }
  }

  // ******************** section title ****************************
  .section_title {
    display: flex;
    align-items: center;
    margin-bottom: 25px;

    h2 {
      // line-height: 40px;
      font-weight: 600;

      @media screen and (max-width: 767px) {
        font-size: 20px;
      }
    }

    h5 {
      font-size: 18px;
    }

    .separator {
      flex-grow: 1;
      border-bottom: 2px solid rgb(206 206 206 / 35%);
      margin: 0 15px;

      @media screen and(max-width:767px) {
        margin: 0 10px;
      }
    }

    a {
      color: black;
      font-size: 14px;

      @media screen and(max-width:767px) {
        font-size: 11px;
      }

      i {
        margin-left: 5px;
      }
    }
  }

  .right_side {
    .newsletter_form {
      h5 {
        font-size: 16px; 
      }

      .btn-primary {
        background-color: $main_color;
        border-color: $main_color;
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
        display: block;
        margin: 16px auto;
        max-width: 150px;
        width: 100%;
      }
    }
  }

  // ****************** default article ******************************

  article {
    a {
      display: block;
      position: relative;
    }

    .art_details {
      span {
        display: inline-block;
        font-size: 11px;
        color: #ccc;
        margin: 0 2px;

        @media screen and (max-width: 767px) {
          margin: 0 4px;
        }
      }

      .art_title {
        font-size: 16px;
        color: black;
        line-height: 22px;
        margin: 7px 0;
        font-weight: 600;
        height: 44px;
        overflow: hidden;
        text-align: justify;

        @media screen and(max-width:575px) {
          font-size: 14px;
        }
        &.small {
          font-size: 14px;
        }
      }
 
      .art_desc {
        color: black;
        font-size: 14px;
        margin: 0;
        font-weight: 400;
        overflow: hidden;
        width: 100%;
        line-height: 22px;
        height: 44px;
        text-align: justify;

        @media screen and(max-width:575px) {
          font-size: 12px;
        }
      }

      .art_categorie {
        color: orangered;
        font-weight: 700;
      }
    }

    &.main_article {
      height: 100%;

      a {
        height: 100%;

        figure {
          height: 100%;
          position: relative;
          &::before {
            content: "";
            top: 0;
            left: 0;
            position: absolute;
            height: 100%;
            width: 100%;
            z-index: 1;
            background-image: linear-gradient(
              0deg,
              rgb(0 0 0 / 48%),
              rgba(241, 241, 241, 0)
            );
          }

          img {
            position: initial;
            height: 100%;
            object-fit: cover;
            object-position: top;

            @media screen and (min-width: 768px) {
              position: absolute;
            }
          }
        }

        .art_details {
          position: absolute;
          padding: 10px;
          bottom: 0;
          z-index: 2;

          .art_title {
            color: white;
          }
        }
      }
    }
  }

  // ******************** outside banner ****************************

  .banniere_pub_outside {
    padding: 20px 0;
  }

  // ******************** default slider wrapper ****************************
  .slider_wrapper {
    .slick-arrow {
      height: 40px;
      width: 28px;
      color: white;
      border: 0;
      background-color: #00000052;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      z-index: 99;

      &.next-arrow {
        right: 0;
      }
    }

    .slick-dots {
      bottom: 20px;

      li {
        button:before {
          color: rgb(255 255 255 / 35%);
          font-size: 23px;
          opacity: initial;
        }

        &.slick-active button::before {
          color: white;
        }
      }
    }
  }
}

// *******************end main page*****************************

// footer

footer {
  .logo_wrapper {
    display: flex;
    align-items: center;

    .logo {
      flex-basis: 170px;
      margin: 0 20px;
    }
  }

  .logo_separator {
    height: 2px;
    background-color: #d5d5d53d;
    flex-grow: 1;
  }

  .links_footer {
    display: flex;
    flex-wrap: wrap;

    li {
      width: 25%;

      @media screen and(max-width : 767px) {
        width: 50%;
      }

      a {
        color: #2a303b;
        transition: all 0.3s;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        -ms-transition: all 0.3s;
        -o-transition: all 0.3s;

        &:hover {
          color: $main_color;
        }
      }
    }
  }
}

// end footer
